*,
html,
body {
	margin: 0px;
	padding: 0px;
}
  
header,
main,
footer {
    display: flex;
    justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	flex-direction: column;
	align-items: center;

}

header {
    flex-direction: column;
    align-items: center;
    margin-top: 146px;
}

 img.logo{
	width: 370px;
	height: 40px;
	
}

.main-header-nav  {
    display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top: 70px;
	margin-bottom: 4px;
}

li.nav-item {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 18px;
	line-height: 22px;
    border-bottom: 1.5px solid transparent;
	
}

.nav-item a {
	text-decoration: none;
	color: #333333;
}

.nav-item:hover  {
	border-color: #D90000;
}

li.one {
	margin-left: 0px;
}

li.two {
	margin-right: 0px;
}

.emphasize {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	margin-bottom: 20px;
}

.home a{
	text-decoration: none;
}

.G {
    font-size: 16px;
	line-height: 22px;
	color: rgba(51, 51, 51, 0.5);
}

.A {
	font-size: 16px;
	line-height: 22px;
	color: rgba(51, 51, 51, 0.2);
}


    /*________________________________________*/



.red {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.unisual_bildings .red_button {

	padding: 7px 20px 9px 20px;
	background: #D90000;
	border-radius: 60px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
    display: inline-block;
    margin-bottom: 25px;
	margin-top: 45px;
}

.unisual_bildings .unisual {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #000000;
}

.unisual_bildings .namber {
	font-size: 16px;
	line-height: 22px;
	color: rgba(51, 51, 51, 0.5);
	margin-top: 10px;
	margin-bottom: 20px;
}


   /*-------------------------------------------------------------*/


.dominion-1 {
    display: flex;    
    background-size: cover;
    height: 421px;
    width: 277px;
    align-items: flex-end;
}

.dominion {
	width: 277px;
	margin-bottom: 50px;

}

.dominion a {
	text-decoration: none;
}

.dominion-link {
	position: relative;
	color: #333333;
	padding: 16px 48px 16px 30px;
	display: none;
	background: #ffffff;
}

.dominion:hover .dominion-link{
	display: block;
}

.topic {
	display: flex;
	flex-wrap: wrap;
	width: 952px;
	justify-content: space-between;

}

.dominion:nth-child(3n-1),
.dominion:nth-child(3n-1) .dominion-1 {
	width: 358px;
}

.dominion-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 170%;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	margin-top: 20px;
	margin-right: 20px;
	color: #000000;
	
}

.dominion:hover .dominion-text {
	color: #d90000;
}

  /*____________________________________*/



.scroll {
	display: flex;
	justify-content: center;
	list-style-type: none;
	align-items: center;
	margin-top: 64px;
}


.scroll a {
	font-weight: 500;
	font-size: 16px;
	line-height: 170%;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #333333;						
	margin: 0px 10px;
	text-decoration: none;
}


a.hyphen {
	border-bottom: 1px solid #333333;
	width: 238.5px;
	margin: 0px 15px;
	font-weight: 500;
	font-size: 16px;
	line-height: 170%;
	
	letter-spacing: 0.13em;
}

.scroll .red {
	color: #D90000;
	font-weight: bold;
	font-size: 16px;
	line-height: 170%;
	letter-spacing: 0.13em;

}

  /*__________________________________________*/


  .mailing {
	height: 312px;
	background: #F3F3F7;
	display: flex;
	justify-content: center;
	margin-top: 100px;
	width: 100%;
}

.subscript {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	padding-top: 94px;
}

.e-mail input {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	border-radius: 1px;
	border: 1px solid #9A9A9A;  
	color: #9A9A9A;
	padding: 15px 157px 15px 19px;
	background: transparent;
}

.subscript_button {
	margin-left: 10px;
    background-color: #1A1A1A;
    border-radius: 1px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
   padding: 15px 5px 15px 6px;
}

.mail_container {
	display: flex;
	padding-top: 30px;
	margin-left: 15px;
}

/*__________________________________________*/


.footer {
	display: flex;
	justify-content: center;
	height: 140px;
	background: #1A1A1A;
    width: 100%;
}

.icons{
	display: flex;
	width: 400px;
    justify-content: space-between;
	align-items: center;
}


