*,
html,
body {
    margin: 0px;
    padding: 0px;
}

header,
main,
footer {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    flex-direction: column;
    align-items: center;

}

header {
    flex-direction: column;
    align-items: center;
    padding-top: 146px;
    width: 952px;
    margin: 0 auto;
}

img.logo{
    width: 370px;
    height: 40px;

}

main {
    align-items:flex-start;
    width: 952px;
    margin: 0 auto;
}

.main-header-nav  {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 70px;
    margin-bottom: 4px;

}

li.nav-item {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
    line-height: 22px;

    border-bottom: 1.5px solid transparent;

}

.nav-item a {
    text-decoration: none;
    color: #333333;
}

.nav-item:hover  {
    border-color: #D90000;
}

li.one {
    margin-left: 0px;
}

li.two {
    margin-right: 0px;
}

.emphasize {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.home a{
    font-size: 16px;
    line-height: 22px;
    color: rgba(51, 51, 51, 0.5);
    text-decoration: none;
}

a.Z {
    color: rgba(51, 51, 51, 0.2);
}

         /*HEADER*/

.breadcrumbs {
    width: 100%;
}

.red {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.unisual_bildings .red_button {

    padding: 7px 20px 9px 20px;
    background: #D90000;
    border-radius: 60px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 45px;
}

.avesome {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.avesome .unisual {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
}

.news_info {
    display: flex;
    justify-content: space-between;
}

.emphasize-2 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.news_info img {
    margin-right: 15px;
}

.avthor {
    display: flex;
    justify-content: center;
}

.clock {
    display: flex;
    justify-content: center;
}

.data {
    display: flex;
    justify-content: center;
}

.avthor_text_gteen {
    margin-bottom: 3px;
}



/* footer */


.footer {
    display: flex;
    justify-content: center;
    height: 140px;
    background: #1A1A1A;
    width: 100%;
}

.icons{
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

           /*text*/

.bioptic {
    margin-top: 50px;
}

.bioptic p {
    font-size: 18px;
    line-height: 170%;
    margin-bottom: 40px;
    color: #333333;
}

.text-1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    color: #333333;
}

          /*разновидность зданий*/

.read {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 120px;
}

.read h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    margin-bottom: 27px;
    color: #000000;
}

.type-bildings {
    display: flex;
    justify-content: space-between;

}

.bloc-read {
    display: flex;

    justify-content: space-between;
}

.bloc-read img{
    margin-right: 18px;
}

.bloc-read-big {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: 'liga' off, 'calt' off,
    'kern' off;
    color: #333333;
    padding-top: 5px;
}

.bloc-read-tinc {
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #333333;
}

.popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 138px;
}

.type-bildings a {
    text-decoration: none;
}

a:hover .bloc-read-big,
a:hover .bloc-read-tinc{
    color: #D90000;
}





