*,
html,
body {
	margin: 0px;
	padding: 0px;
}

header

 {
	display: flex;
	justify-content: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	flex-direction: column;
	align-items: center;

}



header {
	flex-direction: column;
	align-items: center;
	padding-top: 146px;
	width: 952px;
	margin: 0 auto;
}

img.logo{
	width: 370px;
	height: 40px;

}

main {
	align-items:flex-start;
	width: 952px;
	margin: 0 auto;
}

.main-header-nav  {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top: 70px;
	margin-bottom: 4px;

}

li.nav-item {
	margin-left: 25px;
	margin-right: 25px;
	font-size: 18px;
	line-height: 22px;

	border-bottom: 1.5px solid transparent;

}

.nav-item a {
	text-decoration: none;
	color: #333333;
}

.nav-item:hover  {
	border-color: #D90000;
}

li.one {
	margin-left: 0px;
}

li.two {
	margin-right: 0px;
}

.emphasize {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	margin-bottom: 20px;
}

.home a{
	font-size: 16px;
	line-height: 22px;
	color: rgba(51, 51, 51, 0.5);
	text-decoration: none;
}

a.Z {
	color: rgba(51, 51, 51, 0.2);
}



.actual {
	display: flex;
	padding-top: 40px;
	justify-content: center;
}

.moda {
	display: flex;
	flex-direction: column;
	margin-left: 16.58px;
}

.structure {
	padding-top: 8.29px;
}

.actual img {
	display:block;
}

.big_image {
	position: relative;
}

.big_image h1 {
	position: absolute;
	top: 248px;
	left: 60px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	display: flex;
	line-height: 44px;
	color: #ffffff;
	width: 450px;
	align-items: flex-end;
}

.looc {
	position: absolute;
    top: 379px;
    left: 60px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff;
    border-radius: 1px;
    width: 200px;
    height: 50px;

}

.moda img{
	display: block;
}

.year_2019 {
	position: relative;
}

.right_button {
	top: 160px;
	left: 30px;
}

.structure {
	position: relative;
}

  /* ________________________________________________________*/


.modern_buildings {
	margin-top: 100px;
	position: relative;
	
}

.quarto {
    display: flex;
    justify-content: center;

}


.trion {
	flex-direction: column;
	margin-left: 50px;
	margin-top: 67.33px;
	position: relative;
}

.long {
	display: flex;
	
	}

.modern_buildings .red_button {
	padding: 7px 20px 9px 20px;
	background: #D90000;
	border-radius: 60px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
    display: inline-block;
    margin-bottom: 30px; 
} 

.quarters_two {
	margin-left: 20px;
}

.quarters_three {
    margin-top: 20px;
}

.g {
	margin-top: 20px;
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.13em;
text-transform: uppercase;
color: #000000;
display: inline-block;
}

.g:hover .line {
	background: #D90000;
}

.g .line {
    height: 1px;
    background: transparent;
    margin-top: 4px;
}

.ofice {
	margin-top: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;	
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #000000;
}

.pointer {
	display: flex;
	position: absolute;
	transform: rotate(-90deg);
    right: -129.5px;
    bottom: 47.5px;
}

.pointer .top {
    font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.13em;
	color: #1A1A1A;
	line-height: 27px;
	text-transform: uppercase;
}

.pointer .arroy {
	width: 27px;
	height: 27.01px;
	transform: rotate(90deg);
	margin-left:20px;
}



/*____________________________________________________________________*/
/*_______________________________________________________________________*/



.mailing {
	height: 312px;
	background: #F3F3F7;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	margin-top: 100px;
}

.subscript {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 37px;
	padding-top: 94px;
}

.e-mail input {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	border-radius: 1px;
	border: 1px solid #9A9A9A;  
	color: #9A9A9A;
	padding: 15px 157px 15px 19px;
	background: transparent;
}

.subscript_button {
	margin-left: 10px;
    background-color: #1A1A1A;
    border-radius: 1px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
   padding: 15px 5px 15px 6px;
}

.mail_container {
	display: flex;
	padding-top: 30px;
	margin-left: 15px;
}

    /*______________________________________________________________
    ______________________________________________________________

*/


.trion-img {
	display: flex;
}

.bich {
     flex-direction: column;
}

.gielda {
	margin-top: 0px;
	margin-left: 20px; 
}

.khee {
	margin-top: 13px;
	margin-left: 0px; 
}

   /*__________________________________________________________*/        


.news-arhitect {

	display: flex;
	justify-content: center;
	background: url(../img/Bitmap.jpg);
	background-size: cover;
	height: 618px;
	margin-top: 100px;
}

.unisual_bildings {
	display: flex;
	flex-direction: column;
    align-items: center;
	position: relative;
	
}

.unisual_bildings .red_button {

	padding: 7px 20px 9px 20px;
	background: #D90000;
	border-radius: 60px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
    display: inline-block;
     margin-top: 100px;
}

.unisual {
	text-align: center;
}

.unisual h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 60px;
	line-height: 73px;
	color: #FFFFFF;
	width: 862px;
	margin-top: 75px;
	margin-bottom: 0px;
}

.red {
	text-align: center;

}

.unisual_bildings .arhitect {
	position: unset;
	margin-top: 40px;
}

.ceys-one {
    position: absolute;
    top: 280.9px; 
    left: -113px;
}

.ceys-two {
    position: absolute;
    top: 280.9px;
    right: -113px;
}

.unisual .text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 73px;
	color: #FFFFFF;
    margin: 0px;
}

.before-footer {
	margin-top: 0px;
	margin-bottom: 0px;
}

    /*_______________________________________________________*/




.footer {
    display: flex;
    justify-content: center;
    height: 140px;
    background: #1A1A1A;
    width: 100%;
}

.icons{
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}


	
    